


<!--transform-[matrix(1,2,1,-4,5,6)]-->



<div class="flex h-screen w-screen overflow-hidden">

  @if (!isLoggedIn) {
    <div class="">
      <app-login></app-login>
    </div>
  } @else {
    <div id="main-app" class="flex flex-col flex-1">
      <!-- Header -->
      <div class="flex justify-between items-center p-4">
        <div class="logo-avatar">
          <span class="pi pi-car rounded-full text-white bg-gray-600 p-4" style="font-size: 20px;"></span>
        </div>
        <div>Powered by QA</div>
      </div>

      <p-menubar [model]="items" class="sm:hidden md:flex m-3">
        <ng-template #end>
          <button id="logout-button" pButton pRipple size="small"
                  class="rounded-full py-2 px-4 text-sm hover:cursor-pointer focus:outline-none transition duration-200"
                  (click)="handleLogout()">
            Log Out
          </button>
        </ng-template>
      </p-menubar>

      <!-- Main Content Area -->
      <main id="content-area" class="flex-1 overflow-y-auto p-2">
        <router-outlet></router-outlet>
      </main>
    </div>
  }

  <!-- Toast Notifications -->
  <p-toast position="top-right" [life]="5000"></p-toast>


  <!-- Loading Spinner -->
  @if (showLoader) {
    <div class="spinner-overlay">
      <div class="loader"></div>
    </div>
  }

</div>
