.navigation{
  background-color: #1e1e1e;
  h3{
    color: white;
  }
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.css-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #007ad9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* PrimeNG Menu Overrides */
.p-menubar {
  background-color: white !important; /* gray-800 */
  border: none !important;
  /*padding: 20px !important;*/
  /*margin-left: 30px !important;*/
  /*margin-right: 30px !important;*/
}

.p-menuitem-link:hover {
  background-color: white !important; /* gray-600 */
}

.p-menuitem-link {
  background-color: white !important; /* gray-600 */
  color: white !important;
}

.p-menuitem-text {
  color: white !important;
}

.p-menuitem-icon {
  color: white !important;
}

.p-menubar .p-menuitem-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(250, 96, 96, 0.5) !important;
}



/* HTML: <div class="loader"></div> */
.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
  66%  {background-position: -100%  66%,0%   66% ,100% 66% }
  100% {background-position:    0% 100%,100% 100%,200% 100%}
}
