.navigation {
  background-color: #1e1e1e;

  h3 {
    color: white;
  }
}

@keyframes l16-0 {
  0%, 12.49% {
    transform: rotate(0deg);
  }
  12.5%, 37.49% {
    transform: rotate(90deg);
  }
  37.5%, 62.49% {
    transform: rotate(180deg);
  }
  62.5%, 87.49% {
    transform: rotate(270deg);
  }
  87.5%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes l16-1 {
  0% {
    transform: perspective(80px) rotate3d(-1, -1, 0, 0);
  }
  80%, 100% {
    transform: perspective(80px) rotate3d(-1, -1, 0, -180deg);
  }
}

/*!* PrimeNG Menubar Overrides *!*/
.p-menubar {
  background-color: var(--background) !important;
  color: var(--text) !important;
  /*border: none !important;*/
}

.p-menubar-item {
  /*color:;*/

  :hover{
    background-color: var(--accent);
  }

}








/*cover shader*/
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* Loader from css-loaders.com */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  color: #1e1c1c;
  background: linear-gradient(currentColor 0 0) right  /51% 100%,
  linear-gradient(currentColor 0 0) bottom /100% 51%;
  background-repeat: no-repeat;
  animation: l16-0 2s infinite linear .25s;
}

.loader::before {
  content: "";
  width: 50%;
  height: 50%;
  background: currentColor;
  animation: l16-1 .5s infinite linear;
}

