.navigation{
  background-color: #1e1e1e;
  h3{
    color: white;
  }
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.css-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #007ad9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* PrimeNG Menu Overrides */
:host ::ng-deep .p-menubar {
  background-color: #555555 !important; /* gray-800 */
  border: none !important;
}

:host ::ng-deep .custom-menu-item .p-menuitem-link:hover {
  background-color: #4b5563 !important; /* gray-600 */
}

:host ::ng-deep .custom-menu-item .p-menuitem-link {
  background-color: #4b5563 !important; /* gray-600 */
  color: white !important;
}

:host ::ng-deep .custom-menu-item .p-menuitem-text {
  color: white !important;
}

:host ::ng-deep .custom-menu-item .p-menuitem-icon {
  color: white !important;
}

:host ::ng-deep .p-menubar .p-menuitem-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(250, 96, 96, 0.5) !important;
}
