# database settings
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 7071

application:
  url: http://localhost:7071

logging:
  level:
    org.springframework.web: DEBUG
