.attribute {
  margin-block: 10px;

  .key {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
}

.pmt-intro {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.pmt-confirmation{

}
