<div class="px-4 flex flex-col justify-between">
  <div>
    <h1 class="text-3xl font-bold mb-2">Access Management</h1>
    <p class="my-4">Manage Account Access Information</p>
  </div>

  <div class="flex gap-2">
    <p-button label="System Users" [rounded]="true" (onClick)="toggleManagement('USERS')" severity="secondary"/>
    <p-button label="Roles Management" [rounded]="true" (onClick)="toggleManagement('ROLES')" severity="secondary"/>
    <p-button label="Domains" [rounded]="true" (onClick)="toggleManagement('DOMAINS')" severity="secondary"/>
  </div>

  <div class="my-4">
    @if (showUserManagement) {
      <app-users></app-users>
    } @else if (showRoleManagement) {
      <app-roles></app-roles>
    } @else if (showDomainManagement) {
      <app-domains></app-domains>
    }
  </div>
</div>
