<div class="flex justify-between items-start mb-4">
  <div>
    <h1 class="text-3xl font-bold mb-2">Vehicle Details</h1>
    <p class="mb-4">Manage Vehicle Details and Information</p>
  </div>
  <p-button label="Add Vehicle" icon="pi pi-plus" size="small" (onClick)="addVehicle()"></p-button>
</div>
<div class="flex gap-2">
  <p-button size="small" label="Vehicles" [rounded]="true" (onClick)="toggleTab('VEHICLES')" severity="secondary"/>
  <p-button size="small" label="Categories" [rounded]="true" (onClick)="toggleTab('CATEGORIES')" severity="secondary"/>
  <p-button size="small" label="Amenities" [rounded]="true" (onClick)="toggleTab('AMENITIES')" severity="secondary"/>
</div>
<div class="my-4">
  @if (showAmenities) {
    <app-amenities></app-amenities>
  }
  @if (showVehicles) {
    <div class="p-4 w-full select-none relative">
      <div class="my-3">
        <p-accordion value="0">
          <p-accordion-panel value="0">
            <p-accordion-header>Filter</p-accordion-header>
            <p-accordion-content>
              <!-- Search Filters Card -->
              <div class="p-6 mb-6">
                <div class="flex flex-col lg:flex-row lg:gap-4 my-3">
                  <!-- Partner Name -->
                  <div class="w-full lg:w-1/2 mb-4 lg:mb-0">
                    <label for="search_name" class="block text-sm font-medium mb-1 pl-1">Registration Number</label>
                    <input pInputText type="text" id="search_name" placeholder="Search by Number"
                           [(ngModel)]="vehicleData.number"
                           class="w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition"/>
                  </div>

                </div>
                <!-- Search Button -->
                <div class="flex justify-end pt-2">
                  <p-button (onClick)="filterVehicles()" icon="pi pi-search" label="Search" size="small"
                            severity="primary">
                  </p-button>
                </div>

              </div>

            </p-accordion-content>
          </p-accordion-panel>

        </p-accordion>
      </div>

      <p-table [value]="vehicles" [lazy]="true" (onLazyLoad)="loadVehicles($event)" [paginator]="true" [rows]="rows"
               [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th id="reg">Registration Number</th>
            <th id="type">Type</th>
            <th id="cap">Capacity</th>
            <th id="stat">Status</th>
            <th id="cat">Created At</th>
            <th id="act">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
          <tr>
            <td>{{ vehicle.registrationNumber }}</td>
            <td>{{ vehicle.type }}</td>
            <td>{{ vehicle.capacity }}</td>
            <td>
                    <span
                      [class]="'status-badge status-' + (vehicle.status ? vehicle.status.toLowerCase() : 'unknown')">
                        {{ vehicle.status }}
                    </span>
            </td>
            <td>{{ vehicle.createdAt | date:'medium' }}</td>
            <td>
              <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="secondary"
                        (onClick)="editVehicle(vehicle)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center p-4">No vehicles found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  } @else if (showCategories) {
    <app-vehicle-categories></app-vehicle-categories>
  }
</div>

