@import "primeicons/primeicons.css";
@import "tailwindcss";

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/*:root{*/
/*  --blue-one: #03045E;*/
/*  --blue-two: #023E8A;*/
/*  --blue-three: #0077B6;*/
/*  --blue-four: #0096C7;*/
/*  --blue-five: #00D4D8;*/
/*  --blue-six: #48CAE4;*/
/*  --blue-seven: #90E0EF;*/
/*  --blue-eight: #ADE8F4;*/
/*  --blue-nine: #CAF0F8;*/
/*}*/
:root {

  --text: #050316;
  --background: #fbfbfe;
  --primary: #236731;
  --secondary: #dbf5ff;
  --accent: #3dff98;

  @media (prefers-color-scheme: dark) {
    --text: #eae9fc;
    --background: #010104;
    --primary: #98dca6;
    --secondary: #001a24;
    --accent: #00c25a;
  }
}


.dark-mode {

  --text: #eae9fc;
  --background: #010104;
  --primary: #98dca6;
  --secondary: #001a24;
  --accent: #00c25a;

  /*--background-color: #121212;*/
  /*--text-color: #ffffff;*/
  /*--primary-color: #bb86fc;*/
  /*--secondary-color: #03dac6;*/
  /*--error-color: #cf6679;*/
  /*--surface-color: #1e1e1e;*/
  /*--on-primary-color: #000000;*/
  /*--on-secondary-color: #000000;*/
  /*--on-surface-color: #ffffff;*/
  /*--on-error-color: #000000;*/
}


body {
  background-color: var(--background);
  color: var(--text);
}

.primary-button {
  background-color: var(--primary);
  transform: translateY(0);
}

.primary-button:hover {
  opacity: 0.6;
  transform: translateY(-3px);
}


@media (max-width: 500px) {
  .p-menubar-root-list {
    margin-top: 10px !important;
    margin-left: 10px !important;
    width: 50% !important;
  }
}

.p-menubar {
  padding: 20px !important;
  border: 1px solid rgba(128, 128, 128, 0.34) !important;
}

.p-menubar-item{
  /*background-color: red;*/
  color: var(--text) !important;
  :hover{
    background-color: var(--secondary);
  }
}























.p-button {
  background: #0096C7 !important;
  color: white !important;
  border: none !important;
}



/* custom table styles */
.p-datatable-table {
  display: block;
  /*background-color: var(--background);*/
}



:host ::ng-deep .p-datatable-thead > tr > th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


:host ::ng-deep .p-datatable-thead.sticky-active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
}


