@import "primeicons/primeicons.css";
@import "tailwindcss";

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/*:root{*/
/*  --blue-one: #03045E;*/
/*  --blue-two: #023E8A;*/
/*  --blue-three: #0077B6;*/
/*  --blue-four: #0096C7;*/
/*  --blue-five: #00D4D8;*/
/*  --blue-six: #48CAE4;*/
/*  --blue-seven: #90E0EF;*/
/*  --blue-eight: #ADE8F4;*/
/*  --blue-nine: #CAF0F8;*/
/*}*/
:root {
  --text: #050316;
  --background: #fbfbfe;
  --primary: #236731;
  --secondary: #deffdb;
  --accent: #3dff98;
  --card: white;

  --blue-icon-background: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%);
  --green-icon-background: linear-gradient(
    120deg,
    hsl(131deg 100% 11%) 0%,
    hsl(130deg 82% 15%) 7%,
    hsl(126deg 67% 19%) 13%,
    hsl(123deg 57% 23%) 20%,
    hsl(120deg 51% 28%) 27%,
    hsl(118deg 49% 31%) 33%,
    hsl(116deg 47% 35%) 40%,
    hsl(114deg 46% 39%) 47%,
    hsl(112deg 45% 43%) 53%,
    hsl(111deg 44% 46%) 60%,
    hsl(109deg 44% 50%) 67%,
    hsl(108deg 52% 54%) 73%,
    hsl(106deg 60% 58%) 80%,
    hsl(105deg 70% 62%) 87%,
    hsl(103deg 83% 66%) 93%,
    hsl(102deg 100% 70%) 100%
  );
  --orange-icon-background: linear-gradient(135deg, #f59e0b 0%, #f97316 100%);

  --blue-icon-wrapper: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%);
  --green-icon-wrapper: linear-gradient(
    120deg,
    hsl(131deg 100% 11%) 0%,
    hsl(130deg 82% 15%) 7%,
    hsl(126deg 67% 19%) 13%,
    hsl(123deg 57% 23%) 20%,
    hsl(120deg 51% 28%) 27%,
    hsl(118deg 49% 31%) 33%,
    hsl(116deg 47% 35%) 40%,
    hsl(114deg 46% 39%) 47%,
    hsl(112deg 45% 43%) 53%,
    hsl(111deg 44% 46%) 60%,
    hsl(109deg 44% 50%) 67%,
    hsl(108deg 52% 54%) 73%,
    hsl(106deg 60% 58%) 80%,
    hsl(105deg 70% 62%) 87%,
    hsl(103deg 83% 66%) 93%,
    hsl(102deg 100% 70%) 100%
  );
  --orange-icon-wrapper: linear-gradient(135deg, #f59e0b 0%, #f97316 100%);

  @media (prefers-color-scheme: dark) {
    --text: #eae9fc;
    --background: #010104;
    --primary: rgba(76, 96, 80, 0.45);
    --secondary: #252926;
    --accent: #00c25a;
    --card: #252926

  }
}


.dark-mode {
  --text: #eae9fc;
  --background: #010104;
  --primary: rgba(3, 87, 18, 0.46);
  --secondary: #001a24;
  --accent: #00c25a;
  --card: white;
}

/*.p-menubar-item-content {*/
/*  color: var(--text) !important;*/
/*}*/

/*.p-menubar-item-active > .p-menubar-item-content {*/
/*  background-color: var(--background) !important;*/
/*  border-color: var(--primary);*/
/*}*/

.stat-card {
  background-color: var(--card);
}

.bg-background {
  background-color: var(--card);
}

.bg-background-table {
  background-color: white;
}

.text-secondary {
  color: var(--text);
}

/* custom table styles */
.p-datatable-table {
  background-color: var(--card);
}

.p-datatable-thead {
  width: 100% !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: var(--card);
  color: var(--text);
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: var(--card);
  color: var(--text);
}


.above {
  z-index: 200 !important;
}

.below {
  z-index: 0 !important;
}

/*.p-menubar-submenu {*/
/*  background: var(--background) !important;*/
/*  border-color: var(--primary) !important;*/
/*  border-radius: 5px !important;*/
/*  color: var(--text) !important;*/

/*}*/

/*.p-menubar-item-icon {*/
/*  color: var(--text) !important;*/
/*}*/

/*.p-menubar-submenu-icon{*/
/*  color: var(--text) !important;*/
/*}*/

/*.p-menubar-item-active > .p-menubar-item-content .p-menubar-submenu-icon {*/
/*  color: var(--text) !important;*/
/*}*/

/*.p-menubar-item.p-focus > .p-menubar-item-content {*/
/*  background-color: var(--secondary) !important;*/
/*  border-color: var(--primary);*/
/*  border-radius: 8px !important;*/
/*  color: white !important;*/
/*}*/


/*MY INPUTS*/
.p-inputtext {
  background-color: var(--card) !important;
  color: var(--text) !important;
  border-color: var(--primary) !important;
  border-radius: 30px;
  border: none;
}


.p-paginator {
  background: var(--background) !important;
  color: var(--text) !important;
}

.p-accordion-header {
  background-color: var(--background) !important;
}

.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader {
  background: #031738 !important;
  color: var(--text) !important;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  background: #031738 !important;
  color: var(--text) !important;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader {
  background: #031738 !important;
  color: var(--text) !important;
}

.p-accordion {
  background-color: var(--background) !important;
}

.p-accordioncontent-content {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.primary-button {
  background-color: var(--primary);
  transform: translateY(0);
}

.primary-button:hover {
  opacity: 0.6;
  transform: translateY(-3px);
}


/*@media (max-width: 500px) {*/
/*  .p-menubar-root-list {*/
/*    margin-top: 10px !important;*/
/*    margin-left: 10px !important;*/
/*    width: 50% !important;*/
/*  }*/
/*}*/

/*.p-menubar {*/
/*  padding: 20px !important;*/
/*  border: 1px solid rgba(128, 128, 128, 0.34) !important;*/
/*}*/

/*.p-menubar-item {*/
/*  !*background-color: red;*!*/
/*  color: var(--text) !important;*/

/*  :hover {*/
/*    background-color: var(--secondary);*/
/*  }*/
/*}*/

.p-dialog {
  background-color: var(--background) !important;
  color: var(--text) !important;
}


.p-button {
  background: #0096C7 !important;
  color: white !important;
  border: none !important;
}




