@import "primeicons/primeicons.css";
@import "tailwindcss";

:root{
  --blue-one: #03045E;
  --blue-two: #023E8A;
  --blue-three: #0077B6;
  --blue-four: #0096C7;
  --blue-five: #00D4D8;
  --blue-six: #48CAE4;
  --blue-seven: #90E0EF;
  --blue-eight: #ADE8F4;
  --blue-nine: #CAF0F8;
}

body{
  background-color: rgba(175, 175, 175, 0.21);
}

.p-menubar{
  padding: 20px !important;
  border: 1px solid rgba(128, 128, 128, 0.34) !important;
}

.p-button {
  background: #0096C7 !important;
  color: white !important;
  border: none !important;

  /*&:hover {*/
  /*  --p-button-bg: var(--p-primary-hover-color);*/
  /*}*/

  /*&:active {*/
  /*  --p-button-bg: var(--p-primary-active-color);*/
  /*}*/

  /*&:focus-visible {*/
  /*  box-shadow: 0 0 0 2px var(--p-primary-focus-ring-color);*/
  /*}*/
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --error-color: #cf6679;
  --surface-color: #1e1e1e;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-surface-color: #ffffff;
  --on-error-color: #000000;
}
