@import "primeicons/primeicons.css";
@import "tailwindcss";

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

:root{
  --blue-one: #03045E;
  --blue-two: #023E8A;
  --blue-three: #0077B6;
  --blue-four: #0096C7;
  --blue-five: #00D4D8;
  --blue-six: #48CAE4;
  --blue-seven: #90E0EF;
  --blue-eight: #ADE8F4;
  --blue-nine: #CAF0F8;
}

body{
  background-color: rgba(175, 175, 175, 0.21);
}

.p-menubar{
  padding: 20px !important;
  border: 1px solid rgba(128, 128, 128, 0.34) !important;
}

.p-button {
  background: #0096C7 !important;
  color: white !important;
  border: none !important;

  /*&:hover {*/
  /*  --p-button-bg: var(--p-primary-hover-color);*/
  /*}*/

  /*&:active {*/
  /*  --p-button-bg: var(--p-primary-active-color);*/
  /*}*/

  /*&:focus-visible {*/
  /*  box-shadow: 0 0 0 2px var(--p-primary-focus-ring-color);*/
  /*}*/
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --error-color: #cf6679;
  --surface-color: #1e1e1e;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-surface-color: #ffffff;
  --on-error-color: #000000;
}

/* PrimeNG Menu Overrides */
.p-menubar {
  background-color: white !important;
  border: none !important;
}

.p-menuitem-link:hover .p-menuitem-text {
  color: red !important;
}

.p-menuitem-text {
  color: #4b5563 !important; /* Dark gray text */
}

.p-menuitem-icon {
  color: #4b5563 !important; /* Dark gray icon */
}


.p-menubar-item-link {
  background-color: #b2bfcf;
  /*border-radius: 50px;*/
  border: 1px #e9e1e1 solid;
}

.p-menubar {
  border-radius: 20px !important;
}


.p-menubar-item-icon {
  color: red !important;
  /*background-color: red;*/
}


.p-menubar-item-content:hover {
  background-color: transparent !important;
}


.p-menubar-item-content {
  background-color: transparent !important;
}

.p-menubar-submenu {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  /*display: flex !important;*/
  flex-direction: column !important;
  gap: 2px !important;
  justify-content: space-between !important;
}

.p-datatable-table {
  /*display: block;*/
  /*width: 50% !important;*/
}

